* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(85deg, #00ffff, #e8ffff);
    min-height: 100vh;
    padding: 40px;
    color: black;
    line-height: 1.6;
}
.container {
    max-width: 900px;
    margin: auto;
}
.title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: 38px;
    letter-spacing: 2px;
    animation: drop 2s ease-out;
}
.foto-profil {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid black;
    margin-bottom: 15px;
    box-shadow: 0 0 20px rgba(0,255,255,0.7);
}
.kepala {
    text-align: center;
    background: white;
    padding: 35px 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);

}
.profile {
    padding-top: 45px;
}
.profile:hover .foto-profil {
    transform: scale(1.05);
    transition: 0.4s ease;
}
.nama-besar {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    color: linear-gradient(aqua,white);

}
.role {
    color: gray;
    margin-top: 4px;
    font-size: 15px;
}
.deskripsi {
    margin-top: 10px;
    line-height: 1.6;
}
.kepala h2 {
    font-size: 36px;
    letter-spacing: 2px;
}
.nama {
    font-size: 1.5rem;
    font-weight: 400;
}
.card {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: 0px 15px 30px black;
    transition: 
     transform 0.4s ease,
     box-shadow 0.4s ease;
}
.card p {
    margin-bottom: 8px;
    line-height: 1.6;
}

.card:hover {
    transform: translateY(-7px) scale(1.0);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}
.card h3 {
    margin-bottom: 18px;
    border-left: 5px solid aqua;
    padding-left: 12px;
    font-size: 20px;
}
.list li {
    margin-left: 20px;
    margin-bottom: 10px;
}
.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    list-style: none;
}
.skills li {
    background: #f5ffff;
    border: 1px solid aqua;
    font-weight: 500;
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: 
     background 0.5s ease,
     transform 0.5s ease;
}
.skills li:hover {
    background: skyblue;
    color: blue;
    transform: scale(1.09);
}
.hobi {
    list-style: none;
    margin-top: 10px;
}
.hobi li {
    margin-bottom: 8px;
    font-size: 16px;
    border: 1px solid aqua;
    font-weight: 300;
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: 
     background 0.5s ease,
     transform 0.5s ease;
}
.hobi li:hover {
    background: skyblue;
    color: blue;
    transform: scale(1.0);
}
.fade-in {
    animation: fadeIn 1.5s ease forwards;
}
.slide-in {
    animation: slideIn 1.5s ease forwards;
}
.zoom-in {
    animation: zoomIn 1.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes drop {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.footer {
    text-align: center;
    margin-top: 40px;
    color: #333;
    font-size: 14px;
}
